# Week11 Lab

1. Scrape the information from the following website: https://www.scrapethissite.com/pages/simple/ 
show the values in a dataframe
1. Save the data frame as a csv file. (You will be using it a part of your homework.)

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
response = requests.get('https://raw.githubusercontent.com/msaricaumbc/DS_Data/master/data.html')
response.ok

True

In [3]:
response.text[:1000]

'<!doctype html>\n<html lang="en"> \n <head> \n  <meta charset="utf-8"> \n  <title>Countries of the World: A Simple Example | Scrape This Site | A public sandbox for learning web scraping</title> \n  <link rel="icon" type="image/png" href="/static/images/scraper-icon.png"> \n  <meta name="viewport" content="width=device-width, initial-scale=1.0"> \n  <meta name="description" content="A single page that lists information about all the countries in the world. Good for those just get started with web scraping."> \n  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"> \n  <link href="\\\'https://fonts.googleapis.com/css?family=Lato:400,700\\\'" rel="\\\'stylesheet\\\'" type="\\\'text/css\\\'"> \n  <link rel="stylesheet" type="text/css" href="/static/css/styles.css"> \n  <meta name="ro'

In [4]:
html_doc = response.text

In [5]:
soup = BeautifulSoup(html_doc, 'html.parser')

In [6]:
t = soup.find_all('div', {"class":"col-md-4 country"})

In [7]:
data=[{"CountryName":x.find('h3').text.strip(), "Capital":x.find('span', {'country-capital'}).text.strip(), "Population":x.find('span', {'country-population'}).text.strip(), "Area":x.find('span', {'country-area'}).text.strip()} for x in t]

In [8]:
df=pd.DataFrame(data)

In [9]:
df.to_csv('countrydata.csv', sep=',')

In [10]:
df.head(20)

               CountryName           Capital Population       Area
0                  Andorra  Andorra la Vella      84000      468.0
1     United Arab Emirates         Abu Dhabi    4975593    82880.0
2              Afghanistan             Kabul   29121286   647500.0
3      Antigua and Barbuda        St. John's      86754      443.0
4                 Anguilla        The Valley      13254      102.0
5                  Albania            Tirana    2986952    28748.0
6                  Armenia           Yerevan    2968000    29800.0
7                   Angola            Luanda   13068161  1246700.0
8               Antarctica              None          0      1.4E7
9                Argentina      Buenos Aires   41343201  2766890.0
10          American Samoa         Pago Pago      57881      199.0
11                 Austria            Vienna    8205000    83858.0
12               Australia          Canberra   21515754  7686850.0
13                   Aruba        Oranjestad      71566      193.0
14                   Åland         Mariehamn      26711     1580.0
15              Azerbaijan              Baku    8303512    86600.0
16  Bosnia and Herzegovina          Sarajevo    4590000    51129.0
17                Barbados        Bridgetown     285653      431.0
18              Bangladesh             Dhaka  156118464   144000.0
19                 Belgium          Brussels   10403000    30510.0